// SPDX-License-Identifier: GPL-2.0-or-later

#include "mt7628a.dtsi"

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/leds/common.h>

/ {
	compatible = "cmcc,zy-368", "ralink,mt7628a-soc";
	model = "CMCC ZY-368";

	config {
		reset-button = "reset";
		status1-led = "blue:wlan";
	};

	gpio-keys {
		compatible = "gpio-keys";

		reset {
			label = "reset";
			gpios = <&gpio1 6 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_RESTART>;
		};
	};

	gpio-leds {
		compatible = "gpio-leds";

		led-wlan {
			label = "blue:wlan";
			color = <LED_COLOR_ID_BLUE>;
			function = LED_FUNCTION_WLAN;
			gpios = <&gpio1 12 GPIO_ACTIVE_LOW>;
			default-state = "on";
		};
	};
};

&eth {
	mediatek,wan-port = <4>;

	pinctrl-names = "default";
	pinctrl-0 = <&ephy_router_mode>;
};

&gpio0 {
	palna {
		gpio-hog;
		gpios = <2 GPIO_ACTIVE_HIGH>;
		output-low;
	};
};

&gpio1 {
	sw_rt {
		gpio-hog;
		gpios = <13 GPIO_ACTIVE_HIGH>;
		output-low;
	};
};

&spi0 {
	flash@0 {
		compatible = "jedec,spi-nor";
		reg = <0>;
		spi-max-frequency = <50000000>;

		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			partition@0 {
				label = "u-boot";
				reg = <0x000000 0x030000>;
			};

			partition@30000 {
				label = "u-boot-env";
				reg = <0x030000 0x010000>;
			};

			partition@40000 {
				label = "factory";
				reg = <0x040000 0x010000>;
			};

			partition@50000 {
				label = "firmware";
				reg = <0x050000 0x7b0000>;
			};
		};
	};
};

&state_default {
	gpios {
		groups = "gpio0", "spis", "spi cs1", "i2s", "sdmode", "wdt", "perst", \
			 "refclk", "i2c", "uart1", "uart2", "pwm0", "pwm1", "wled_a", "p3led_a";
		function = "gpio";
	};

	pleds {
		groups = "p0led_a", "p1led_a", "p2led_a", "p4led_a";
		function = "led";
	};
};
