// SPDX-License-Identifier: GPL-2.0-or-later

/dts-v1/;

#include "mt7621.dtsi"

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/leds/common.h>

/ {
	compatible = "dlink,dir-878-a1", "mediatek,mt7621-soc";
	model = "D-Link DIR-878 A1";

	/delete-node/ clock-48m;
	/delete-node/ clock-50m;
	/delete-node/ watchdog@1e000100;
	/delete-node/ serial@1e000d00;
	/delete-node/ serial@1e000e00;
	/delete-node/ mmc@1e130000;
	/delete-node/ usb@1e1c0000;
	/delete-node/ usb-phy@1e1d0000;

	aliases {
		serial0 = &uart0;
		spi0 = &spi;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	gpio-keys {
		compatible = "gpio-keys";

		button-reset {
			label = "reset";
			linux,code = <KEY_RESTART>;
			gpios = <&gpio0 15 GPIO_ACTIVE_LOW>;
		};

		button-wifi {
			label = "wifi";
			linux,code = <KEY_RFKILL>;
			gpios = <&gpio0 7 GPIO_ACTIVE_LOW>;
		};

		button-wps {
			label = "wps";
			linux,code = <KEY_WPS_BUTTON>;
			gpios = <&gpio0 18 GPIO_ACTIVE_LOW>;
		};
	};

	gpio-leds {
		compatible = "gpio-leds";

		led-internet_amber {
			color = <LED_COLOR_ID_AMBER>;
			function = "internet";
			gpios = <&gpio0 4 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		led-internet_green {
			color = <LED_COLOR_ID_GREEN>;
			function = "internet";
			gpios = <&gpio0 3 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		led-power_amber {
			color = <LED_COLOR_ID_AMBER>;
			function = LED_FUNCTION_POWER;
			gpios = <&gpio0 8 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		led-power_green {
			color = <LED_COLOR_ID_GREEN>;
			function = LED_FUNCTION_POWER;
			gpios = <&gpio0 16 GPIO_ACTIVE_LOW>;
			default-state = "on";
		};
	};

	options {
		u-boot {
			compatible = "u-boot,config";
			boot-btn1 = "reset";
			boot-btn2 = "wps";
			boot-led1 = "green:power";
			boot-led2 = "amber:power";
			bootcmd_1-1 = "tftp_boot_ik";
			bootcmd_1-2 = "tftp_update_fw";
			bootcmd_1-3 = "switch_console";
			bootcmd_1-4 = "env init";
			bootcmd_2-1 = "tftp_boot_ik";
			bootcmd_2-2 = "tftp_update_fw";
			bootcmd_2-3 = "switch_console";
			bootcmd_2-4 = "env init";
		};
	};
};

&gpio0 {
	pcie-reset {
		gpio-hog;
		gpios = <19 GPIO_ACTIVE_LOW>;
		output-high;
	};
};

&pinctrl {
	/delete-node/ uart2_pins;
	/delete-node/ uart3_pins;
	/delete-node/ sdxc_pins;
	/delete-node/ nand_pins;
};

&spi {
	status = "okay";

	flash@0 {
		compatible = "jedec,spi-nor";
		reg = <0>;
		spi-max-frequency = <40000000>;

		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			partition@0 {
				label = "u-boot";
				reg = <0x00000 0x30000>;
			};

			partition@30000 {
				label = "u-boot-env";
				reg = <0x30000 0x10000>;
			};

			partition@40000 {
				label = "factory";
				reg = <0x40000 0x20000>;
			};

			partition@60000 {
				label = "firmware";
				reg = <0x60000 0x00000>;
			};
		};
	};
};

&state_default {
	/delete-node/ rgmii2-gpio_pins;
};
